* {
  margin: 0;
}

body {
  width: 250px;
  aspect-ratio: 2/3;
}

.App {
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  transition: color 0.3s;
  text-decoration: none;
}

a:active {
  color: #26a69a;
}

a:visited {
  color: #ff4081;
}

a:hover {
  color: #ff7043;
}
